:host {
    box-sizing: border-box;
    display: inline-flex;
    width: auto;
    padding: 0.125rem 0 0.125rem 0.125rem;
    user-select: none;
    cursor: pointer;
    align-items: center;

    div {
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: 0.125rem;
    }

    span:empty {
        display: none;
    }

    span:not(:empty) {
        box-sizing: inherit;
        font-size: 0.875rem;
        font-weight: 400;
        padding-left: 0.5rem;
        padding-right: 0.125rem;
    }

    &:not(.disabled) {
        div {
            border: 1px solid rgb(22, 22, 22);
        }
        span {
            color: rgb(22, 22, 22);
        }
    }

    &.disabled {
        cursor: not-allowed;
        div {
            border: 1px solid rgb(198, 198, 198);
        }
        span {
            color: rgb(198, 198, 198);
        }
    }

    &.intermediate div {
        background-color: purple;
    }
    &.checked div {
        background-color: red;
    }
    
}