:host {
    box-sizing: border-box;
    display: inline-flex;
    width: auto;
    padding: 0.125rem 0 0.125rem 0.125rem;
    user-select: none;
    cursor: pointer;
    align-items: center;

    div {
        /*display: inline-block;*/
        height: 1rem;
        width: 1rem;
        margin-right: 0.125rem;
        justify-content: center;
        display: inline-flex;
        align-items: center;
    }

    span:empty {
        display: none;
    }

    span:not(:empty) {
        box-sizing: inherit;
        font-size: 0.875rem;
        font-weight: 400;
        padding-left: 0.5rem;
        padding-right: 0.125rem;
    }

    &:not(.disabled) {
        div {
            border: 1px solid rgb(22, 22, 22);
        }
        span {
            color: rgb(22, 22, 22);
        }

        &:not(.unchecked) div {
            background-color: rgb(22, 22, 22);
        }
    }

    &.disabled {
        cursor: not-allowed;
        div {
            border: 1px solid rgb(198, 198, 198);
        }
        span {
            color: rgb(198, 198, 198);
        }

        &:not(.unchecked) div {
            background-color: rgb(198, 198, 198);
        }
    }

    &.intermediate div {

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 0.5rem;
            height: 2px;
            background-color: white;
        }
    }
    &.checked div {
        
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: .5625rem;
            height: .3125rem;
            border-left: 2px solid white;
            border-bottom: 2px solid white;
            transform: rotate(-45deg) translateX(1px) translateY(-1px);
        }
    }
    
}