@import 'styleguide-variables/styles/variables.scss';

:host {
    box-sizing: border-box;
    display: inline-flex;
    width: auto;
    padding: 0.125rem 0 0.125rem 0.125rem;
    user-select: none;
    cursor: pointer;
    align-items: center;

    div {
        height: 1rem;
        width: 1rem;
        margin-right: 0.125rem;
        justify-content: center;
        display: inline-flex;
        align-items: center;
    }

    span:empty {
        display: none;
    }

    span:not(:empty) {
        box-sizing: inherit;
        font-size: 0.875rem;
        font-weight: 400;
        padding-left: 0.5rem;
        padding-right: 0.125rem;
    }

    &.disabled {
        cursor: not-allowed;
    }

    &.intermediate div {

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 0.5rem;
            height: 2px;
        }
    }
    &.checked div {
        
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: .5625rem;
            height: .3125rem;
            transform: rotate(-45deg) translateX(1px) translateY(-1px);
        }
    }
}

// themes
@each $themeName, $theme in $themes {
    .theme-#{$themeName} {
        :host {
            &:not(.disabled) {
                div {
                    border: 1px solid map-get($theme, ui-05);
                }
                span {
                    color: map-get($theme, ui-05);
                }

                &:not(.unchecked) div {
                    background-color: map-get($theme, ui-05);
                }
            }

            &.disabled {
                div {
                    border: 1px solid map-get($theme, disabled-02);
                }
                span {
                    color: map-get($theme, disabled-02);
                }

                &:not(.unchecked) div {
                    background-color: map-get($theme, disabled-02);
                }
            }

            &.intermediate div::before {
                background-color: map-get($theme, inverse-01);
            }

            &.checked div::before {
                border-left: 2px solid map-get($theme, inverse-01);
                border-bottom: 2px solid map-get($theme, inverse-01);
            }
        }
    }
}