@import 'styleguide-variables/styles/variables.scss';

:host {
    display: inline-grid;
    width: max-content;
    grid-template-columns: max-content max-content;
    cursor: pointer;
    user-select: none;

    div {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
    }

    &.disabled {
        cursor: not-allowed;
    }

    &.checked div::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: scale(.5);
    }

    span {
        @include body-short-01;
        padding-left: $spacing-03;

        &:empty {
            display: none;
        }
    }
}

.stackedList :host {
    display: grid;
}

// themes
@each $themeName, $theme in $themes {
    .theme-#{$themeName} {
        :host {
            div {
                border: 1px solid  map-get($theme, ui-05);
            }
            span {
                color: map-get($theme, text-01);
            }
            
            &.disabled {
                div {
                    border: 1px solid  map-get($theme, disabled-02);
    
                    &::after {
                        background-color: map-get($theme, ui-05);
    
                    }
                }
                span {
                    color: map-get($theme, disabled-02);
                }
            }

            &.checked div::after {
                background-color: map-get($theme, ui-05);
            }
        }
    }
}