:host {
    display: inline-grid;
    width: max-content;
    border: 1px solid blue;
    grid-template-columns: max-content max-content;

    div {
        display: flex;
        border: 1px solid red;
        width: 15px;
        height: 15px;
        justify-content: center;
        align-items: center;
        border-radius: 50px;;
    }

    &.checked div::after {
        content: "";
        display: inline-block;
        width: 5px;
        height: 5px;
        background-color: green;
        border-radius: 50px;;
    }

    span {
        padding-left: 8px;
        border: 1px solid red;

        &:empty {
            display: none;
        }
    }
}

.stackedList :host {
    display: grid;
}