<div class="example">
  button:<br>
  <app-button
    (clicked)="buttonWasClicked()"
    [icon]="'fab fa-accessible-icon'"
    [type]="'primary'"
    [size]="'default'"
    [disabled]="false"
    >Save primary</app-button>
  <app-button
  (clicked)="buttonWasClicked()"
  [icon]="'fab fa-accessible-icon'"
  [type]="'primary'"
  [size]="'default'"
  [disabled]="true"
  >Save primary</app-button>
  <br>
  <app-button
    (clicked)="buttonWasClicked()"
    [icon]="'fab fa-accessible-icon'"
    [type]="'secondary'"
    [size]="'default'"
    [disabled]="false"
    >Save secondary</app-button>
  <app-button
  (clicked)="buttonWasClicked()"
  [icon]="'fab fa-accessible-icon'"
  [type]="'secondary'"
  [size]="'default'"
  [disabled]="true"
  >Save secondary</app-button>
  <br>
  <app-button
    (clicked)="buttonWasClicked()"
    [icon]="'fab fa-accessible-icon'"
    [type]="'tertiary'"
    [size]="'default'"
    [disabled]="false"
    >Save tertiary</app-button>
  <app-button
  (clicked)="buttonWasClicked()"
  [icon]="'fab fa-accessible-icon'"
  [type]="'tertiary'"
  [size]="'default'"
  [disabled]="true"
  >Save tertiary</app-button>
  <br>
  <app-button
    (clicked)="buttonWasClicked()"
    [icon]="'fab fa-accessible-icon'"
    [type]="'ghost'"
    [size]="'default'"
    [disabled]="false"
    >Save ghost</app-button>
  <app-button
  (clicked)="buttonWasClicked()"
  [icon]="'fab fa-accessible-icon'"
  [type]="'ghost'"
  [size]="'default'"
  [disabled]="true"
  >Save ghost</app-button>
  <br>
  <app-button
    (clicked)="buttonWasClicked()"
    [icon]="'fab fa-accessible-icon'"
    [type]="'danger'"
    [size]="'default'"
    [disabled]="false"
    >Save danger</app-button>
  <app-button
  (clicked)="buttonWasClicked()"
  [icon]="'fab fa-accessible-icon'"
  [type]="'danger'"
  [size]="'default'"
  [disabled]="true"
  >Save danger</app-button>
</div>
<div class="example">
  <app-button-group>
    <app-button [icon]="'fab fa-accessible-icon'">primary</app-button>
    <app-button [type]="'secondary'" [icon]="'fab fa-accessible-icon'">secondary 1</app-button>
    <app-button [type]="'secondary'" [icon]="'fab fa-accessible-icon'">secondary 2</app-button>
  </app-button-group>
</div>
<div class="example">
  <app-radiobutton-group [label]="'plz select gender'" [preSelectedOptionValue]="'f'" (optionSelected)="log($event)">
    <app-radiobutton [disabled]="false" [value]="'m'">Male</app-radiobutton>
    <app-radiobutton [disabled]="false" [value]="'f'">Female</app-radiobutton>
    <app-radiobutton [disabled]="false" [value]="'d'">Diverse / Other</app-radiobutton>
  </app-radiobutton-group>
  <br>
</div>

<div class="example">
  <h2>Checkbox (nested):</h2>
  <ul>
    <li>
      <app-checkbox #parent1>parent1</app-checkbox>
      <ul>
        <li>
          <app-checkbox [parent]="parent1">parent2</app-checkbox>
        </li>
        <li>
          <app-checkbox [parent]="parent1" #parent2>parent3</app-checkbox>
          <ul>
            <li>
              <app-checkbox [parent]="parent2">child1</app-checkbox>
            </li>
            <li>
              <app-checkbox [parent]="parent2">child2</app-checkbox>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="example">
  <h2>Checkbox:</h2>
  <app-checkbox (stateChanged)="log($event)">Default state</app-checkbox><br>
  <app-checkbox (stateChanged)="log($event)" [state]="'checked'">State: checked</app-checkbox><br>
  <app-checkbox (stateChanged)="log($event)" [state]="'intermediate'">State: intermediate</app-checkbox><br>
  <app-checkbox (stateChanged)="log($event)" [state]="'unchecked'">State: unchecked</app-checkbox><br>
  <br>
  <app-checkbox (stateChanged)="log($event)" [disabled]="true">Default state (disabled)</app-checkbox><br>
  <app-checkbox (stateChanged)="log($event)" [disabled]="true" [state]="'checked'">State: checked (disabled)</app-checkbox><br>
  <app-checkbox (stateChanged)="log($event)" [disabled]="true" [state]="'intermediate'">State: intermediate (disabled)</app-checkbox><br>
  <app-checkbox (stateChanged)="log($event)" [disabled]="true" [state]="'unchecked'">State: unchecked (disabled)</app-checkbox>
</div>
