<div class="example">
  button:<br>
  <app-button (click)="buttonWasClicked()" [icon]="'fab fa-accessible-icon'">my Button!</app-button>
</div>
<div class="example">
  <app-radiobutton-group [options]="[{value: 'm', label: 'male'},{value: 'f', label: 'female'},{value: 'd', label: 'diverse'}]" (optionSelected)="log($event)">Select Gender:</app-radiobutton-group>
  <br>
</div>

<div class="example">
  <h2>Checkbox (nested):</h2>
  <ul>
    <li>
      <app-checkbox #parent1>parent1</app-checkbox>
      <ul>
        <li>
          <app-checkbox [parent]="parent1">parent2</app-checkbox>
        </li>
        <li>
          <app-checkbox [parent]="parent1" #parent2>parent3</app-checkbox>
          <ul>
            <li>
              <app-checkbox [parent]="parent2">child1</app-checkbox>
            </li>
            <li>
              <app-checkbox [parent]="parent2">child2</app-checkbox>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="example">
  <h2>Checkbox:</h2>
  <app-checkbox (stateChanged)="log($event)">Default state</app-checkbox><br>
  <app-checkbox (stateChanged)="log($event)" [state]="'checked'">State: checked</app-checkbox><br>
  <app-checkbox (stateChanged)="log($event)" [state]="'intermediate'">State: intermediate</app-checkbox><br>
  <app-checkbox (stateChanged)="log($event)" [state]="'unchecked'">State: unchecked</app-checkbox><br>
  <br>
  <app-checkbox (stateChanged)="log($event)" [disabled]="true">Default state (disabled)</app-checkbox><br>
  <app-checkbox (stateChanged)="log($event)" [disabled]="true" [state]="'checked'">State: checked (disabled)</app-checkbox><br>
  <app-checkbox (stateChanged)="log($event)" [disabled]="true" [state]="'intermediate'">State: intermediate (disabled)</app-checkbox><br>
  <app-checkbox (stateChanged)="log($event)" [disabled]="true" [state]="'unchecked'">State: unchecked (disabled)</app-checkbox>
</div>
