@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
      font-display: auto;
    font-style: normal;
    src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2") format("woff2");
  }

:host {
    border: 1px solid blue;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: grey;
    }
}