@import 'styleguide-variables/styles/variables.scss';

:host {
    display: inline-block;

    span {
        @include label-01;
        display: inline-block;
        margin-bottom: 0.5rem;
        user-select: none;
    }
    
    app-radiobutton {
        margin-bottom: $spacing-03;
    }
}

@each $themeName, $theme in $themes {
    .theme-#{$themeName} {
        :host {
            span {
                color: map-get($theme, text-02);
            }

            &.disabled {
                span {
                    color: map-get($theme, disabled-02);
                }
            }
        }
    }
}